.ContentPage, .IndexPage, .FramedMenuPage { background-color:white !important; }
body { background:url("../main.jpg") left top repeat-y; }
p { text-indent:0; margin-bottom:1em; }
.PopupSearchResultsPage { background:white; }
.MTitle { background:url("../logo.png") 5px top no-repeat; text-indent:-2000px; border-bottom:0; }
.MTitle .MSubTitle { visibility:hidden; }
.ContentPage #Content, .IndexPage #Index { border:0; margin-left:200px !important; }
.MEntry { padding:0 0; }
.MEntry a { padding:5px 16px 5px 4px; text-align:right; -moz-border-radius:5px 0 0 5px; margin:0 !important; color:#ccc !important; display:block; }
.MGroup a { color:white !important; padding-top:12px !important; padding-bottom:2px !important; }
.MGroupContent .MEntry a { color:#ccc !important; padding-right:24px !important; padding-top:5px !important; padding-bottom:5px !important; }
.MGroup div { padding:0; }
#MSelected { border:0; -moz-border-radius:5px 0 0 5px !important; margin:0; background:white; padding:5px 24px 5px 8px !important; text-align:right !important; }
#Menu { width:180px !important; padding-left:20px !important; }
.MFile, .MText, .MLink, .MIndex { margin:0 !important; padding:0 !important; }
.SBorder { -moz-border-radius:0 !important; }
.STable td { padding-top:5px !important; padding-bottom:5px !important; }
.SGroup td { padding-top:12px !important; border-top:1px dotted silver; }
.SClass td { padding-top:16px !important; border-top:1px solid silver; }
.INavigationBar { border:1px solid; margin:20px 0; }
.SVariable td.SEntry { padding-left:26px; background:url('../p.gif') 6px 7px no-repeat; }
.SFunction td.SEntry { padding-left:26px; background:url('../m.gif') 3px 7px no-repeat; }
.SClass td.SEntry { padding-left:26px; background:url('../c.gif') 3px 18px no-repeat; text-transform:uppercase; }
.SEvent td.SEntry { padding-left:26px; background:url('../e.gif') 6px 7px no-repeat; }
td.SEntry { width:31%; }
table.Prototype { display:none !important; }
.CVariable .CTitle { background:url('../p.gif') 4px 1px no-repeat; padding-left:26px; }
.CFunction .CTitle { background:url('../m.gif') 2px 2px no-repeat; padding-left:26px; }
.CEvent .CTitle { background:url('../e.gif') 5px 2px no-repeat; padding-left:26px; }
* { font-size:8pt !important; line-height:18px !important; }
#MainTopic .CTitle, #Index .IPageTitle { font-size:20pt !important; color:#8b0000; border:0 !important; background:white !important; padding-top:13px !important; }
.CGroup .CTitle { margin-left:10px; margin-right:10px; font-size:10pt !important; }
.CClass .CTitle { margin-left:10px !important; margin-right:10px !important; background:white url('../c.gif') 10px center no-repeat !important; font-size:11pt !important; border:2px solid #000000 !important; border-width:0 0 2px 0 !important; font-variant:small-caps !important; padding:5px 15px 5px 30px !important; color:#000 !important;}
.MGroup { margin-left:0; }
#Footer { margin:5px 20px 0 200px !important; text-align:center !important; padding:10px 0; }
.CBody ul { margin:0em 5ex 2em 5ex; }