.jstree {
    --jstree-size: 32px;
    --jstree-size-half: calc(var(--jstree-size) / 2);
    --jstree-size-quater: calc(var(--jstree-size) / 4);
}

.jstree-node { height:var(--jstree-size); white-space:nowrap; }
.jstree-icon { text-align:center; display:inline-block; width:var(--jstree-size); height:var(--jstree-size); line-height:var(--jstree-size); position:relative; }
.jstree-icon-i { background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1px' height='2px'%3e%3ccircle cx='0.5' cy='1.5' r='0.5' /%3e%3c/svg%3e") center bottom repeat-y; }
.jstree-icon-t { background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1px' height='2px'%3e%3ccircle cx='0.5' cy='1.5' r='0.5' /%3e%3c/svg%3e") center bottom repeat-y; }
.jstree-icon-h:before { content: " "; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='2px' height='1px'%3e%3ccircle cx='0.5' cy='0.5' r='0.5' /%3e%3c/svg%3e") left bottom repeat-x; top:0px; left:var(--jstree-size-half); height:var(--jstree-size-half); width:var(--jstree-size-half); position:absolute; }
.jstree-icon-v2:after { content: " "; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1px' height='2px'%3e%3ccircle cx='0.5' cy='1.5' r='0.5' /%3e%3c/svg%3e") left bottom repeat-y; top:0px; left:var(--jstree-size-half); height:var(--jstree-size-half); width:var(--jstree-size-half); position:absolute; }
.jstree-icon-v:after { content: " "; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1px' height='2px'%3e%3ccircle cx='0.5' cy='1.5' r='0.5' /%3e%3c/svg%3e") left bottom repeat-y; top:0px; left:var(--jstree-size-half); height:var(--jstree-size); width:var(--jstree-size-half); position:absolute; }

.jstree-leaf,
.jstree-opened,
.jstree-closed { cursor:pointer; display:inline-block; width:var(--jstree-size); height:var(--jstree-size); line-height:var(--jstree-size); }
.jstree-opened:after,
.jstree-closed:after { content:" "; display:inline-block; border:5px solid transparent; border-left-color:black; height:0; width:0; z-index:1; position:absolute; left:var(--jstree-size-half); top:var(--jstree-size-half); margin-top:-5px; margin-left:-2px; }
.jstree-opened:after { transform:rotate(45deg); margin-top:-3px; }
.jstree-node-text { border-radius:2px; text-decoration:none; display:inline-block; padding: 0 var(--jstree-size-quater) 0 0; height:var(--jstree-size); }
.jstree-node-text { color:navy; }
.jstree-node-text:hover { background:silver; }
.jstree-selected,
.jstree-selected:hover { background:navy; color:white; }

.jstree-node-icon:before { content: " "; width:60%; height:45%; left:20%; top:32%; background:navy; position:absolute; border-radius:0 1px 1px 1px; }
.jstree-node-icon:after { content: " "; width:30%; height:10%; left:20%; top:22%; background:navy; position:absolute; border-radius:1px 1px 0 0; }
.jstree-selected .jstree-node-icon:after,
.jstree-selected .jstree-node-icon:before { background:white; }