/* LOCKED */
.jstree-default .jstree-locked li a { color:gray; }
/* DOTS */
.jstree-default ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.jstree-default li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); }
/* NO DOTS */
.jstree-default .jstree-no-dots, .jstree-default .jstree-no-dots ul { background:transparent; }
.jstree-default .jstree-no-dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.jstree-default li.jstree-open { background:url("icons.png") -32px -48px no-repeat; }
.jstree-default li.jstree-closed, #jstree-dragged.jstree-default li li.jstree-open { background:url("icons.png") -48px -32px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.jstree-default li a, .jstree-default li span { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.jstree-default li a:hover, .jstree-default li a.jstree-hover, .jstree-default li span { background: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 3px; }
.jstree-default li a.jstree-clicked, .jstree-default li a.jstree-clicked:hover, .jstree-default li span.jstree-clicked { background: #beebff; border:1px solid #99defd; padding:0px 3px 0px 3px; }
/* ICONS */
.jstree-default ins { background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; }
.jstree-default ul li a.jstree-loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.jstree-default li a ins.jstree-forbidden { background-position:-16px -16px; }
.jstree-default .jstree-locked li a ins { background-position:0 -48px; }
.jstree-default li span ins { background-position:-16px 0; }
#jstree-dragged.jstree-default ins { background:url("icons.png") -16px -32px no-repeat !important; }
#jstree-dragged.jstree-default ins.jstree-forbidden { background:url("icons.png") -16px -16px no-repeat !important; }

/* CONTEXT MENU */
.jstree-default-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.jstree-default-context a ins.create { background-position:0 -16px; }
.jstree-default-context a ins.rename { background-position:-16px 0px; }
.jstree-default-context a ins.remove { background-position:0 -32px; }